# Nginx Proxy Manager environment configuration (example for manual setup)

# Absolute host path for Docker bind volume (ZFS mountpoint)
NPM_DATA_VOLUME=/tank/docker/data/nginx-proxy-manager

# Nginx Proxy Manager IP Bind Eg. Set to Host Tailscale IP or leave as is.
NPM_IP_BIND=0.0.0.0
